
body {
  background-color: #F7FEFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

form {
  background-color: #ffffff;
  color:#6903C4 ;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
  display: block;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background-color: #E1C8F7;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #C18DEF ;
}

form textarea {
  resize: vertical;
  min-height: 100px;
}

h2 {
  text-align: center;
}

#userInfo {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

#logoutButton {
  background-color: #E1C8F7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

#logoutButton:hover {
  background-color: #C18DEF;
  
}
#message{
  border: 1px dotted #7CD9F0;
  border-radius: 5px;
}
#welcomeMessage{
  color: #7CD9F0;
}
#birthdayMessage{
  color: #EC7063;
}